<div id="seminar-creation-modal" class="modal">
    <div class="modal-content">
        <span onclick="setModalDisplay('seminar-creation-modal', false)" class="close">&times;</span>
        <h2>Organizza un seminario</h2>
        <p>Invia la tua proposta e verrai ricontattato il prima possibile.</p>
        <form onsubmit="event.preventDefault()" id="seminar-creation-form" action="/" method="post">
            <label for="fullname">Nome completo</label>
            <input type="text" name="fullname" placeholder="Mario Rossi" autocomplete="name">
            <label for="phone">Numero di telefono</label>
            <input type="tel" name="phone" placeholder="351 000 1234" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" autocomplete="tel">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="mario.rossi@email.com" autocomplete="email">
            <div class="spacer"></div>
            <label for="title">Titolo</label>
            <input type="text" name="title" placeholder="Es. Come costruire un robot">
            <label for="arguments">Argomenti trattati</label>
            <input type="text" name="arguments" placeholder="Es. Informatica, elettronica, medicina">
            <label for="description">Descrizione</label>
            <textarea name="description" placeholder="Descrizione dettagliata del seminario"></textarea>
            <button class="button g-recaptcha" data-sitekey="6LcYhpUpAAAAAOKdl68TklDuBedWDK9p_LCgu2_s" data-callback="sendSeminarProposal" data-action='submit'>Invia</button>
        </form>
    </div>
</div>