@import 'mixins';
@import 'animations';
@import 'satoshi';
@import 'variables';

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $fonts;
    color: $primary-text-color;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

a {
    color: $bright-greek;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

section {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    max-width: 100%;
    min-width: 100%;
}

.button {
    cursor: pointer;
    text-align: center;
    background-color: $saturated-sky;
    border: none;
    border-bottom: 3px solid $bright-greek;
    padding: .5rem 2.5rem;
    color: white;
    font-weight: bold;
    transition-duration: .2s;
    @include radius(50px, false);

    &:hover:not(input[type="submit"]) {
        transform: translateY(-10px);
    }

    &.big {
        font-size: 24px;
        padding: .75rem 2.5rem;
    }
}

.col-sm {width: $percentage-sm;}
.col-md {width: $percentage-md;}
.col-lg {width: $percentage-lg;}
.col-xl {width: $percentage-xl;}
.col-xxl {width: $percentage-xxl;}
.col-full {width: $percentage-full;}