@import 'mixins';
@import 'animations';
@import 'placeholders';
@import 'scrollbar';
@import 'satoshi';
@import 'variables';

* {
    box-sizing: border-box;
    outline: none;
}

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $fonts;
    color: $primary-text-color;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

a {
    color: $bright-greek;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

input, textarea, select, button {
    font-size: 1rem;
    background: white;
    font-family: $fonts;
    margin: .75rem 0;
}

input:not(input[type="submit"]), select, textarea {
    border: none;
    color: $primary-text-color;
    padding: .5rem 1rem;
    transition-duration: .2s;
    box-shadow: $shadow;
    @include radius(8px);

    &:focus {
        box-shadow: 0px 5px 10px 5px rgba(94, 90, 211, 0.15)
    }
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="email"], input[type="text"], input[type="tel"], input:not([type]), select, textarea {
    width: 100%;
}

input[type="submit"] {
    font-size: 1rem;
    display: block;
    margin: 1.25rem auto;
}

section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    min-height: 100vh;
    max-width: 100%;
    min-width: 100%;
    padding: 0 10%;
}

.spacer {
    background-color: $light-white;
    height: 2px;
    width: 100%;
}

.button {
    cursor: pointer;
    text-align: center;
    background-color: $saturated-sky;
    border: none;
    border-bottom: 3px solid $bright-greek;
    padding: .5rem 2.5rem;
    color: white;
    font-weight: bold;
    transition-duration: .2s;
    @include radius(50px, false);

    &:hover:not(input[type="submit"]) {
        transform: translateY(-10px);
    }

    &.big {
        font-size: 24px;
        padding: .75rem 2.5rem;
    }
}

.col-sm {width: $percentage-sm;}
.col-md {width: $percentage-md;}
.col-lg {width: $percentage-lg;}
.col-xl {width: $percentage-xl;}
.col-xxl {width: $percentage-xxl;}
.col-full {width: $percentage-full;}