$fonts: 'Satoshi-Variable', sans-serif;
$saturated-sky: #5352ed;
$bright-greek: #3742fa;
$coral: #ff7f50;
$brushetta-tomato: #ff6348;
$primary-text-color: #3a3f48;
$secondary-text-color: #606877;
$percentage-sm: 25%;
$percentage-md: 33.33%;
$percentage-lg: 50%;
$percentage-xl: 66.66%;
$percentage-xxl: 75%;
$percentage-full: 100%;
$shadow: 0px 5px 10px 5px #5e5ad314;