<!DOCTYPE html>
<html lang="it">
    <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_COMPONENTS_PATH + "/head.html") %>
    <body>
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_COMPONENTS_PATH + "/navbar.html") %>
        <section id="home">
            <div class="jumbotron col-full">
                <div class="col-xl">
                    <h1>Community studentesca</h1>
                    <p>Benvenuto nella nostra innovativa piattaforma di seminari, creata e gestita da studenti di informatica per gli studenti della Federico II. Accendi la tua curiosità e unisciti a noi in questa avventura, scoprendo nuove prospettive e idee rivoluzionarie</p>
                    <a class="button big" href="#seminars">Scopri di più ➜</a>
                </div>
                <div class="col-lg">
                    <video width="120%" src="assets/images/users.webm" muted autoplay loop preload></video>
                </div>
            </div>
            <a class="col-full arrow-container" href="#seminars">
                <svg class="arrow animate-bounce" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"></path>
                </svg>
            </a>
        </section>
        <section id="seminars">
            <h1 class="title">🎓 Seminari</h1>
            <div class="col-full section-contents">
                <div class="col-md slideshow">
                    <div class="slideshow-container">
                        <div class="slide fade" data-redirect="seminar.html?id=minecraft">
                            <div class="index"></div>
                            <img loading="lazy" alt="Copertina seminario" src="assets/images/seminars/minecraft.webp">
                            <div class="explore">
                                <h3>Esplora ➜</h3>
                                <p>Come creare un server Minecraft</p>
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <!--
                        <div class="slide fade" data-redirect="seminar.html?id=minecraft">
                            <div class="index"></div>
                            <img loading="lazy" alt="Copertina seminario" src="assets/images/seminars/minecraft.webp">
                            <div class="explore">
                                <h3>Esplora ➜</h3>
                                <p>Come creare un server Minecraft</p>
                            </div>
                            <div class="overlay"></div>
                        </div>
                        <div class="slide fade" data-redirect="seminar.html?id=minecraft">
                            <div class="index"></div>
                            <img loading="lazy" alt="Copertina seminario" src="assets/images/seminars/minecraft.webp">
                            <div class="explore">
                                <h3>Esplora ➜</h3>
                                <p>Come creare un server Minecraft</p>
                            </div>
                            <div class="overlay"></div>
                        </div>
                        -->
                        <button href="" class="prev" onclick="changeSlideIndex(-1)">❮</button>
                        <button href="" class="next" onclick="changeSlideIndex(1)">❯</button>
                    </div>
                    <div id="slides-dots" class="dots"></div>
                </div>
                <div class="col-lg slideshow-info-container">
                    <div class="slide-info fade">
                        <h1>👾 Come creare un server Minecraft</h1>
                        <div class="spacer"></div>
                        <h2 class="note">Di cosa tratta il seminario</h2>
                        <p>Partecipa al nostro seminario sui server Minecraft. Ti guideremo attraverso il processo di sviluppo dei plugin per <b>creare il tuo server di gioco</b>, che potrai poi lanciare sul mercato!<br><br>Inizieremo discutendo i requisiti fondamentali, come l'IDE e Java, poi ci immergeremo nella creazione di un server. Esploreremo i vari software di “Minecraft Server” e le diverse meccaniche che possono essere aggiunte o modificate.<br><br>Successivamente, ci concentreremo sull'aspetto più entusiasmante: lo <b>sviluppo dei plugin</b>. Imparerai a creare comandi personalizzati, gestire gli inventari, creare oggetti di gioco personalizzati, creare GUI e gestire gli eventi del server. Inoltre, approfondirai la manipolazione delle entità e la gestione delle tasks per ottimizzare le prestazioni del plugin. Questo seminario offre un'opportunità unica per acquisire competenze pratiche nella creazione di plugin e server Minecraft.</p>
                        <div class="seminar-people">
                            <ul class="col-md">
                                <b>Relatori</b>
                                <li>Lorenzo Angelino</li>
                                <li>Francesco Garifo</li>
                            </ul>
                            <ul class="col-md note">
                                <b>Organizzatori</b>
                                <li>Giulio Borriello</li>
                                <li>Lucia Brando</li>
                                <li>Giulia Caputo</li>
                                <li>Celeste Dazzi</li>
                                <li>Luciana Granata</li>
                                <li>Matteo Rocco</li>
                            </ul>
                        </div>
                    </div>
                    <!--
                    <div class="slide-info fade">
                        <h1>👾 Come creare un server Minecraft</h1>
                        <div class="spacer"></div>
                        <h2 class="note">Di cosa tratta il seminario</h2>
                        <p>Partecipa al nostro seminario sui server Minecraft. Ti guideremo attraverso il processo di sviluppo dei plugin per <b>creare il tuo server di gioco</b>, che potrai poi lanciare sul mercato!<br><br>Inizieremo discutendo i requisiti fondamentali, come l'IDE e Java, poi ci immergeremo nella creazione di un server. Esploreremo i vari software di “Minecraft Server” e le diverse meccaniche che possono essere aggiunte o modificate.<br><br>Successivamente, ci concentreremo sull'aspetto più entusiasmante: lo <b>sviluppo dei plugin</b>. Imparerai a creare comandi personalizzati, gestire gli inventari, creare oggetti di gioco personalizzati, creare GUI e gestire gli eventi del server. Inoltre, approfondirai la manipolazione delle entità e la gestione delle tasks per ottimizzare le prestazioni del plugin. Questo seminario offre un'opportunità unica per acquisire competenze pratiche nella creazione di plugin e server Minecraft.</p>
                        <div class="spacer"></div>
                        <div class="seminar-people">
                            <ul class="col-md">
                                <b>Relatori</b>
                                <li>Lorenzo Angelino</li>
                                <li>Francesco Garifo</li>
                            </ul>
                            <ul class="col-md">
                                <b>Organizzatori</b>
                                <li>Giulio Borriello</li>
                                <li>Lucia Brando</li>
                                <li>Giulia Caputo</li>
                                <li>Celeste Dazzi</li>
                                <li>Luciana Granata</li>
                                <li>Matteo Rocco</li>
                            </ul>
                        </div>
                    </div>
                    <div class="slide-info fade">
                        <h1>👾 Come creare un server Minecraft</h1>
                        <div class="spacer"></div>
                        <h2 class="note">Di cosa tratta il seminario</h2>
                        <p>Partecipa al nostro seminario sui server Minecraft. Ti guideremo attraverso il processo di sviluppo dei plugin per <b>creare il tuo server di gioco</b>, che potrai poi lanciare sul mercato!<br><br>Inizieremo discutendo i requisiti fondamentali, come l'IDE e Java, poi ci immergeremo nella creazione di un server. Esploreremo i vari software di “Minecraft Server” e le diverse meccaniche che possono essere aggiunte o modificate.<br><br>Successivamente, ci concentreremo sull'aspetto più entusiasmante: lo <b>sviluppo dei plugin</b>. Imparerai a creare comandi personalizzati, gestire gli inventari, creare oggetti di gioco personalizzati, creare GUI e gestire gli eventi del server. Inoltre, approfondirai la manipolazione delle entità e la gestione delle tasks per ottimizzare le prestazioni del plugin. Questo seminario offre un'opportunità unica per acquisire competenze pratiche nella creazione di plugin e server Minecraft.</p>
                        <div class="spacer"></div>
                        <div class="seminar-people">
                            <ul class="col-md">
                                <b>Relatori</b>
                                <li>Lorenzo Angelino</li>
                                <li>Francesco Garifo</li>
                            </ul>
                            <ul class="col-md">
                                <b>Organizzatori</b>
                                <li>Giulio Borriello</li>
                                <li>Lucia Brando</li>
                                <li>Giulia Caputo</li>
                                <li>Celeste Dazzi</li>
                                <li>Luciana Granata</li>
                                <li>Matteo Rocco</li>
                            </ul>
                        </div>
                    </div>
                    -->
                    <button id="view-seminar-button" class="book button big">Info e prenotazioni ➜</button>
                </div>
            </div>
            <a href="proposal.html" class="seminar-proposal-visit-button button big">Proponi un seminario</button>
        </section>
        <section id="about">
            <h1 class="title">👨🏻‍💻 Chi siamo</h1>
            <div class="col-full section-contents">
                <div class="col-lg" id="information">
                    <h2>Progetto</h2>
                    <p>Siamo un gruppo di organizzatori composto da studenti e rappresentanti del corso di laurea in Informatica. Questo progetto è nato dalla nostra comune passione per l'apprendimento e l'educazione. Grazie alla collaborazione dei docenti e del personale dell’Università Federico II, siamo in grado di organizzare vari eventi e seminari.<br><br>Questi <b>eventi e seminari sono proposti e sviluppati dagli studenti</b> dell'ateneo, puntando a promuovere la condivisione del sapere riguardante argomenti di nicchia e l'interazione tra gli studenti. Il nostro lavoro, che svolgiamo con enorme dedizione e attenzione ai dettagli, comprende una serie di attività. Queste includono la schedulazione degli eventi, la prenotazione delle aule necessarie, la creazione e diffusione di pubblicità per promuovere l'evento e molto altro. Desideriamo sottolineare che tutti questi servizi sono forniti gratuitamente.</p>
                    <div class="goal">
                        <h2>Il nostro obiettivo</h2>
                        <p>L’obiettivo è di riunire studenti che condividono gli stessi interessi e dar loro la possibilità di arricchire le proprie competenze in un modo che è non solo educativo, ma anche leggero, divertente e stimolante.</p>
                    </div>
                    <div class="spacer"></div>
                    <h2>Statistiche</h2>
                    <div class="stats">
                        <div class="stat">
                            <p class="value">11.700+</p>
                            <div class="spacer"></div>
                            <h3 class="name">Potenziali auditori</h3>
                        </div>
                        <div class="stat">
                            <p class="value">9</p>
                            <div class="spacer"></div>
                            <h3 class="name">Organizzatori</h3>
                        </div>
                        <div class="stat">
                            <p class="value">1</p>
                            <div class="spacer"></div>
                            <h3 class="name">Seminari organizzati</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md section-image">
                    <img loading="lazy" src="assets/images/community.webp" alt="Community">
                </div>
            </div>
        </section>
        <section id="contacts">
            <h1 class="title">☎️ Contatti</h1>
            <div class="contacts-wrapper col-full">
                <div class="col-md" id="message">
                    <h2>Scrivici un messaggio</h2>
                    <p>Per le richieste di prenotazione o realizzazione di un seminario, non usare questo modulo: recati nella sezione apposita.</p>
                    <form onsubmit="event.preventDefault()" id="contact-form" action="/" method="post">
                        <input type="text" name="name" placeholder="Nome" autocomplete="name">
                        <input type="text" name="surname" placeholder="Cognome">
                        <input type="email" name="email" placeholder="Email" autocomplete="email">
                        <textarea name="message" placeholder="Messaggio"></textarea>
                        <span class="col-full">Risponderemo entro 48 ore</span>
                        <button class="button g-recaptcha" data-sitekey="<%= htmlWebpackPlugin.options.GOOGLE_RECAPTCHA_KEY %>" data-callback="sendContactMessage" data-action='submit'>Invia</button>
                    </form>
                </div>
                <div class="col-md" id="social">
                    <h2>Social</h2>
                    <ul>
                        <li><img loading="lazy" width="40px" height="40px" src="assets/images/social/instagram.webp" alt="Instagram social icon"><a href="https://www.instagram.com/assingegneria/" target="_blank">Instagram</a></li>
                        <li><img loading="lazy" width="40px" height="40px" src="assets/images/social/discord.webp" alt="Discord social icon"><a href="https://discord.gg/KwrE4bBJGb" target="_blank">Discord</a></li>
                        <li><img loading="lazy" width="40px" height="40px" src="assets/images/social/email.webp" alt="G-Mail social icon"><a href="mailto:info@uninatalks.it">Email</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <%= require("fs").readFileSync(htmlWebpackPlugin.options.HTML_COMPONENTS_PATH + "/footer.html") %>
    </body>
</html>
