footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 1rem 5%;
    background-color: #1f2937;
    gap: 2vw;

    p, a {
        color: #acbad5;
        margin: 0;
    }

    a {
        text-decoration: underline;
    }
}

@media screen and (max-width: 480px) {
    footer {
        flex-wrap: wrap;
        font-size: .75rem;
    }
}