@import 'imports/global';

nav {
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: $shadow;

    ul {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    li {
        cursor: pointer;
        display: inline-block;
        margin: 0 50px;
        font-weight: bold;
        transition-duration: .2s;

        img {
            background-color: white;
            height: 100px;
            padding: 0.5rem 1.5rem;
            margin-top: 2.2rem;
            box-shadow: $shadow;
            border-bottom: 5px solid #e7e8fb;
            @include radius(25px, true);
        }

        a {
            color: $primary-text-color;
            text-decoration: none;
            position: relative;

            &::after {
                content: "";
                transition-duration: .2s;
                position: absolute;
                display: inline-block;
                bottom: -5px;
                left: 0;
                height: 3px;
                width: 100%;
                transform: scale(0, 1);
                background-color: $saturated-sky;
                @include radius(20px);
            }

            &:hover, &:focus {
                color: $saturated-sky;
                &::after {
                    transform: scale(1, 1);
                }
            }
        }
    }
}