@import 'imports/global';
@import 'navbar';
@import 'footer';
@import 'modal';
@import 'slideshow';

section {
    position: relative;
    margin-top: 4rem;

    h1.title {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 4rem;
        font-size: 3rem;
        border-bottom: 5px solid $light-white;
        box-shadow: $shadow;
        padding: 0 12px;
        @include radius(16px);
    }

    .section-contents {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    .section-image {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        img {
            width: 100%;
        }
    }

    &#home {
        margin-top: 0;
        background-image: url('../../assets/waves.svg');
        background-repeat: no-repeat;
        background-size: cover;

        .jumbotron {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10vh 0 0;
            height: 80vh;
            color: white;

            h1 {
                font-size: 3.5rem;
                font-weight: 900;
                margin: 0;
            }

            p {
                font-size: 1.5rem;
                margin: 2.75rem 0 3.5rem;
                line-height: 30px;
                max-width: 90%;
            }

            .button {
                display: inline-block;
            }
        }

        .arrow-container {
            display: block;
            text-align: center;

            .arrow {
                margin: 0 auto;
                color: $secondary-text-color;
                width: 32px;
            }
        }
    }

    &#about {
        .goal, .stats .stat {
            padding: .5rem 1.5rem;
            box-shadow: $shadow;
            @include radius(8px);
        }

        .goal {
            color: white;
            background-color: $saturated-sky;
            margin: 1.5rem 0;
        }

        .stats {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .stat {
                text-align: center;
                width: 30%;
                border-bottom: 5px solid $light-white;

                .value {
                    color: $saturated-sky;
                    font-weight: 600;
                    font-size: 2rem;
                    margin: 1rem 0;
                }
            }
        }
    }

    &#seminars {
        .seminars-creation {
            display: flex;
            justify-content: space-around;
            margin: 5rem 0;

            .note {
                background-color: rgba(83, 82, 237, .2);
                color: $saturated-sky;
                padding: .5rem 1rem;
                font-size: 16px;
                box-shadow: $shadow;
                @include radius(8px);

                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 13px;
                }

                h3, p {
                    margin: 0;
                }
            }

            .rewards .reward {
                margin: .75rem 0;
                svg {
                    position: relative;
                    top: 2px;
                    max-width: 1rem;
                    max-height: 1rem;
                    color: $saturated-sky;
                    margin: 0 .5rem 0;
                }
            }

            .seminar-creation-button {
                position: relative;
                display: block;
                margin: 2rem auto;
                font-size: 1.2rem;
                min-width: 250px;
                &::after {
                    content: "Proponi seminario";
                    background: $bright-greek;
                    display: block;
                    font-size: .75rem;
                    margin-left: calc(25% - 4rem);
                    margin-top: 10px;
                    padding: 2px 1.5rem .5rem;
                    position: absolute;
                    width: 50%;
                    @include radius(20px, true);
                }
            }
        }

        .seminars-creation-roadmap, .slideshow-info-container {
            display: flex;
            flex-direction: column;
        }

        .slideshow-info-container {
            justify-content: center;
        }

        .seminars-creation-roadmap {
            align-items: center;
            margin: 0 auto;
            text-align: center;

            .spacer {
                margin: .5rem auto 2rem;
            }

            h1 {
                color: $primary-text-color;
            }

            p {
                margin-top: 0;
            }

            img {
                width: 100%;
            }
        }
    }

    &#contacts {
        .contacts-wrapper {
            display: flex;
            justify-content: space-around;
        }

        #message {
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                span {
                    font-size: .75rem;
                    display: block;
                    text-align: center;
                    font-style: italic;
                    margin: .75rem 0;
                }
            }

            input:not([type]), input[type="text"] {
                width: calc(50% - .5rem);
            }

            button {
                display: block;
                margin: 0 auto;
            }
        }

        #social {
            li {
                display: flex;
                align-items: center;
                gap: .75rem;
                margin: 20px 0;
                background-color: rgba(82, 121, 237, 0.1);
                border-radius: 20px;
                padding: 0 16px;
                color: white;

                a {
                    color: $saturated-sky;
                    font-weight: bold;
                    font-size: 1.25rem;
                }
            }
        }
    }

    &#seminar {
        .col-full {
            display: flex;
            align-items: center;

            .image-container {
                max-height: 100vh;
                display: flex;
                justify-content: flex-end;

                img {
                    max-height: 80vh;
                    max-width: 100%;
                    box-shadow: $shadow;
                    @include radius(20px);
                }
            }

            .seminar-title {
                font-size: 3rem;
                margin: 2.5rem 0 0;
                line-height: 3rem;
            }

            .seminar-details, .seminar-people, .seminar-duration {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }

            .seminar-contents {
                li {
                    margin: .25rem 0;
                }
            }

            .seminar-duration {
                margin: 1rem 0 2rem;
                padding: .75rem 1.5rem;
                box-shadow: $shadow;
                @include radius(8px);

                p {
                    margin: 0;
                }

                span {
                    font-weight: 700;
                    color: $saturated-sky;
                }
            }
        }
    }

    &#seminars, &#seminar {
        .seminar-people {
            display: flex;
            justify-content: space-between;
            align-items: baseline;

            ul {
                list-style-type: disc;

                &:first-child {
                    background-color: $saturated-sky;
                    color: white;
                    padding: .5rem 1rem;
                    @include radius(8px);
                }

                li {
                    margin-left: 1rem;
                }
            }
        }

        .book {
            display: block;
            margin: 2rem auto;
            background-color: $coral;
            border-bottom-color: $brushetta-tomato;
            box-shadow: 0 0 10px 8px rgba(251, 136, 90, .2);
        }
    }
}

/** RESPONSIVE STYLE **/
@import 'responsive';