@import 'imports/global';
@import 'navbar';
@import 'footer';
@import 'slideshow';

section {
    position: relative;
    margin-top: 4rem;
    &:nth-of-type(1) {
        margin-top: 0;
    }

    h1.title {
        width: 100%;
        display: block;
        position: relative;
        margin: 4rem 0;
        font-size: 3rem;
        border-bottom: 5px solid #e7e8fb;
        box-shadow: $shadow;
        padding: 0 12px;
        @include radius(16px);
    }

    &#home {
        background-image: url('../../assets/waves.svg');
        background-repeat: no-repeat;
        background-size: cover;

        .jumbotron {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10vh 0 0;
            width: 100%;
            height: 80vh;
            color: white;

            h1 {
                font-size: 6rem;
                font-weight: 900;
                margin: 0;
            }

            p {
                font-size: 1.5rem;
                margin: 2.75rem 0 3.5rem;
                line-height: 30px;
                max-width: 80%;
            }

            .button {
                display: inline-block;
            }
        }

        .arrow {
            display: block;
            margin: 0 auto;
            color: $secondary-text-color;
            width: 32px;
        }
    }

    &#seminars {
        div:nth-of-type(1) {
            display: flex;
            justify-content: space-around;
            flex-direction: row;
        }

        .rewards .reward {
            margin: .75rem 0;
            svg {
                position: relative;
                top: 2px;
                max-width: 1rem;
                max-height: 1rem;
                color: $saturated-sky;
                margin: 0 .5rem 0;
            }
        }

        .seminar-creation-button {
            position: relative;
            display: block;
            margin: 1rem auto;
            font-size: 1.2rem;
            min-width: 250px;
            &::after {
                content: "Crea seminario";
                background: $bright-greek;
                display: block;
                font-size: .75rem;
                margin-left: calc(30% - 4rem);
                margin-top: 10px;
                padding: 2px 1.5rem .5rem;
                position: absolute;
                width: 40%;
                @include radius(20px, true);
            }
        }
    }

    &#contacts {
        .contacts-wrapper {
            display: flex;
            justify-content: space-around;
        }

        #message {
            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                span {
                    font-size: .75rem;
                    display: block;
                    text-align: center;
                    font-style: italic;
                    margin: .75rem 0;
                }
            }

            input:not([type]), input[type="text"] {
                width: calc(50% - .5rem);
            }

            button {
                display: block;
                margin: 0 auto;
            }
        }

        #social {
            li {
                display: flex;
                align-items: center;
                gap: .75rem;
                margin: 20px 0;
                background-color: rgba(82, 121, 237, 0.1);
                border-radius: 20px;
                padding: 0 16px;
                color: white;

                a {
                    color: $saturated-sky;
                    font-weight: bold;
                    font-size: 1.25rem;
                }
            }
        }
    }
}